<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.webstoreapp.mybatis.OfferMapper">

    <insert id="insertOffer" parameterType="Offer" useGeneratedKeys="true">
        INSERT INTO public.offer (title, price, description, category, img_path, condition, user_id)
        VALUES (#{title}, #{price}, #{description}, #{category}::category_enum, #{imgPath}, #{condition}::condition_enum, #{userId});
    </insert>

    <select id="selectOfferById" parameterType="Integer" resultType="Offer">
        SELECT title, description, img_path, category::text, price, user_id, condition::text FROM public.offer WHERE id = #{id};
    </select>

    <update id="updateOffer" parameterType="map">
        UPDATE public.offer SET
        title = #{offer.title},
        price = #{offer.price},
        description = #{offer.description},
        img_path = #{offer.imgPath},
        category = #{offer.category}::category_enum,
        condition = #{offer.condition}::condition_enum,
        user_id = #{offer.userId}
        WHERE id = #{id};
    </update>

    <delete id="deleteOfferById" parameterType="Integer">
        DELETE FROM public.offer WHERE id = #{id};
    </delete>

</mapper>
