<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.webstoreapp.mybatis.UserMapper">
 <!--
    <resultMap type="User" id="UserResult">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="password," column="password,"></result>
        <result property="emailAddress)" column="emailAddress)"></result>
    </resultMap>
-->

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true">
        INSERT INTO public."user" (username, password_hash, email_address)
        VALUES (#{username}, #{passwordHash}, #{emailAddress});
    </insert>

    <select id="selectUserByName" resultType="User">
        SELECT username, password_hash, email_address, is_admin FROM public."user" WHERE username = #{username};
    </select>

    <select id="selectUserById" parameterType="Long" resultType="User">
        SELECT username, password_hash, email_address, is_admin FROM public."user" WHERE id = #{id};
    </select>

    <update id="updateUser" parameterType="map">
        UPDATE public."user" SET
        username = #{user.username},
        password_hash = #{user.passwordHash},
        email_address = #{user.emailAddress},
        is_admin = #{user.isAdmin}
        WHERE id = #{id};
    </update>

    <delete id="deleteAll" >
        DELETE FROM public."user";
        ALTER SEQUENCE user_id_seq RESTART;
    </delete>

</mapper>